--- 
http_interactions: 
- request: 
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body: 
      string: "{\"series\":[{\"type\":\"gauge\",\"points\":[[1378327806,0.0]],\"host\":null,\"metric\":\"metric.name\",\"device\":null}]}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - text/json; charset=UTF-8
    body: 
      string: "{\"status\":\"ok\"}"
  recorded_at: Wed, 04 Sep 2013 20:50:06 GMT
recorded_with: VCR 2.5.0
