---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<DATADOG_API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"Testing Aggregation (first)","date_happened":1460397384,"msg_title":"","priority":"normal","parent":null,"tags":[],"aggregation_key":"1460397384","alert_type":null,"event_type":null,"source_type_name":null,"title":"","text":"Testing
        Aggregation (first)","host":"dogbox-yannmahe","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":491273719585992541,"title":"","text":"Testing
        Aggregation (first)","date_happened":1460397384,"handle":null,"priority":"normal","related_event_id":null,"tags":[],"url":"https://app.datadoghq.com/event/event?id=491273719585992541"}}'
  recorded_at: Mon, 11 Apr 2016 17:56:24 GMT
[...]
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/491273719585992541?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - Bj/SqNU1vbZGxNGffIRtmaWe7MKGSPoKHC3+ZhLAjqk=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event": {"date_happened": 1460397384, "alert_type": "info", "resource":
        "/api/v1/events/491273719585992541", "title": "", "url": "/event/event?event_id=491273719585992541",
        "text": "Testing Aggregation (first)", "tags": [], "device_name": null, "priority":
        "normal", "host": "dogbox-yannmahe", "id": 491273719585992541}}'
  recorded_at: Mon, 11 Apr 2016 17:56:33 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/491273721766316527?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - wZ/CfAcuKqv18nSeAYtvn7MAell4CbOc+cxqaasVWcY=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event": {"date_happened": 1460397384, "alert_type": "info", "resource":
        "/api/v1/events/491273721766316527", "title": "", "url": "/event/event?event_id=491273721766316527",
        "text": "Testing Aggregation (second)", "tags": [], "device_name": null, "priority":
        "normal", "host": "dogbox-yannmahe", "id": 491273721766316527}}'
  recorded_at: Mon, 11 Apr 2016 17:56:33 GMT
recorded_with: VCR 2.9.3
