---
http_interactions:
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905050031133446537?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.160-300-bedcb85
    body:
      encoding: UTF-8
      string: ! '{"event": {"date_happened": 1377812695, "alert_type": "info", "resource":
        "/api/v1/events/1905050031133446537", "title": "title", "url": "/event/jump_to?event_id=1905050031133446537",
        "text": "test message", "tags": [], "id": 1905050031133446537, "priority":
        "low", "host": "dogbox", "device_name": null, "payload": "{}"}}'
  recorded_at: Thu, 29 Aug 2013 21:54:11 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2270123722067656874?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1104.1337
    body:
      encoding: US-ASCII
      string: ! '{"errors": ["No event matches that comment_id."]}'
  recorded_at: Thu, 08 May 2014 18:08:41 GMT
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"test message","date_happened":1400010467,"msg_title":"title","priority":"low","parent":null,"tags":[],"aggregation_key":"","alert_type":null,"event_type":null,"source_type_name":null,"title":"title","text":"test
        message","host":"dogbox-carlo","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "low", "date_happened": 1400010467,
        "handle": null, "title": "title", "url": "https://app.datadoghq.com/event/jump_to?event_id=2277466877264261870",
        "text": "test message", "tags": [], "related_event_id": null, "id": 2277466877264261870}}'
  recorded_at: Tue, 13 May 2014 19:47:50 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2277466877264261870?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1129.1362-0
    body:
      encoding: US-ASCII
      string: ! '{"event": {"date_happened": 1400010467, "alert_type": "info", "resource":
        "/api/v1/events/2277466877264261870", "title": "title", "url": "/event/jump_to?event_id=2277466877264261870",
        "text": "test message", "tags": [], "id": 2277466877264261870, "priority":
        "low", "host": "dogbox-carlo", "device_name": null, "payload": "{}"}}'
  recorded_at: Tue, 13 May 2014 19:47:55 GMT
recorded_with: VCR 2.9.0
