--- 
http_interactions: 
- request: 
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body: 
      string: "{\"parent\":null,\"msg_title\":\"title\",\"event_type\":null,\"msg_text\":\"test message\",\"host\":\"dogbox\",\"date_happened\":1377812695,\"source_type_name\":null,\"device\":null,\"aggregation_key\":\"\",\"tags\":[],\"title\":\"title\",\"alert_type\":null,\"text\":\"test message\",\"priority\":\"low\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - text/json; charset=UTF-8
    body: 
      string: "{\"status\": \"ok\", \"event\": {\"priority\": \"low\", \"date_happened\": 1377812695, \"handle\": null, \"title\": \"title\", \"url\": \"https://app.datadoghq.com/event/jump_to?event_id=1905050031133446537\", \"text\": null, \"tags\": [], \"related_event_id\": null, \"id\": 1905050031133446537}}"
  recorded_at: Thu, 29 Aug 2013 21:44:56 GMT
- request: 
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905050031133446537?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
      X-Dd-Version: 
      - 31.160-300-bedcb85
    body: 
      string: "{\"event\": {\"date_happened\": 1377812695, \"alert_type\": \"info\", \"resource\": \"/api/v1/events/1905050031133446537\", \"title\": \"title\", \"url\": \"/event/jump_to?event_id=1905050031133446537\", \"text\": \"test message\", \"tags\": [], \"id\": 1905050031133446537, \"priority\": \"low\", \"host\": \"dogbox\", \"device_name\": null, \"payload\": \"{}\"}}"
  recorded_at: Thu, 29 Aug 2013 21:54:11 GMT
recorded_with: VCR 2.5.0
