---
http_interactions:
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905053479102714219?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.160-300-bedcb85
    body:
      encoding: UTF-8
      string: ! '{"event": {"date_happened": 1377812901, "alert_type": "info", "resource":
        "/api/v1/events/1905053479102714219", "title": "Testing Aggregation (first)",
        "url": "/event/jump_to?event_id=1905053479102714219", "text": "Testing Aggregation
        (first)", "tags": [], "id": 1905053479102714219, "priority": "normal", "host":
        "dogbox", "device_name": null, "payload": "{}"}}'
  recorded_at: Thu, 29 Aug 2013 21:49:38 GMT
[...]
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2270123746361192606?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1102.1335-0
    body:
      encoding: US-ASCII
      string: ! '{"errors": ["No event matches that comment_id."]}'
  recorded_at: Thu, 08 May 2014 18:08:43 GMT
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"Testing Aggregation (first)","date_happened":1400010460,"msg_title":"","priority":"normal","parent":null,"tags":[],"aggregation_key":"1400010460","alert_type":null,"event_type":null,"source_type_name":null,"title":"","text":"Testing
        Aggregation (first)","host":"dogbox-carlo","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "normal", "date_happened":
        1400010460, "handle": null, "title": "", "url": "https://app.datadoghq.com/event/jump_to?event_id=2277466729825682387",
        "text": "Testing Aggregation (first)", "tags": [], "related_event_id": null,
        "id": 2277466729825682387}}'
  recorded_at: Tue, 13 May 2014 19:47:41 GMT
[...]
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2277466738585989786?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1129.1362-0
    body:
      encoding: US-ASCII
      string: ! '{"event": {"date_happened": 1400010461, "alert_type": "info", "resource":
        "/api/v1/events/2277466738585989786", "title": "Testing Aggregation (second)",
        "url": "/event/jump_to?event_id=2277466738585989786", "text": "Testing Aggregation
        (second)", "tags": [], "id": 2277466738585989786, "priority": "normal", "host":
        "dogbox-carlo", "device_name": null, "payload": "{}"}}'
  recorded_at: Tue, 13 May 2014 19:47:47 GMT
recorded_with: VCR 2.9.0
