---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<DATADOG_API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"test message","date_happened":1460397393,"msg_title":"title","priority":"low","parent":null,"tags":[],"aggregation_key":"","alert_type":null,"event_type":null,"source_type_name":null,"title":"title","text":"test
        message","host":"dogbox-yannmahe","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":491273867291425124,"title":"title","text":"test
        message","date_happened":1460397393,"handle":null,"priority":"low","related_event_id":null,"tags":[],"url":"https://app.datadoghq.com/event/event?id=491273867291425124"}}'
  recorded_at: Mon, 11 Apr 2016 17:56:33 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/491273867291425124?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - 74ZP/FagkgUH/fXz7TfrZdZNnEK/HFHV0fuIAe/vcZE=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event": {"date_happened": 1460397393, "alert_type": "info", "resource":
        "/api/v1/events/491273867291425124", "title": "title", "url": "/event/event?event_id=491273867291425124",
        "text": "test message", "tags": [], "device_name": null, "priority": "low",
        "host": "dogbox-yannmahe", "id": 491273867291425124}}'
  recorded_at: Mon, 11 Apr 2016 17:56:41 GMT
recorded_with: VCR 2.9.3
