---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=<DATADOG_API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"test message","date_happened":1460397401,"msg_title":"dogapi-rb
        end test title 1460397401","priority":"normal","parent":null,"tags":["test-run:1"],"aggregation_key":"","alert_type":null,"event_type":null,"source_type_name":null,"title":"dogapi-rb
        end test title 1460397401","text":"test message","host":"dogbox-yannmahe","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":491274007246737761,"title":"dogapi-rb
        end test title 1460397401","text":"test message","date_happened":1460397401,"handle":null,"priority":"normal","related_event_id":null,"tags":["test-run:1"],"url":"https://app.datadoghq.com/event/event?id=491274007246737761"}}'
  recorded_at: Mon, 11 Apr 2016 17:56:41 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/491274007246737761?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - 5PF/Z5LFS2+PDopAy61C4pggyl02rZxZk412h3D879s=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event": {"date_happened": 1460397401, "alert_type": "info", "resource":
        "/api/v1/events/491274007246737761", "title": "dogapi-rb end test title 1460397401",
        "url": "/event/event?event_id=491274007246737761", "text": "test message",
        "tags": ["test-run:1"], "device_name": null, "priority": "normal", "host":
        "dogbox-yannmahe", "id": 491274007246737761}}'
  recorded_at: Mon, 11 Apr 2016 17:56:52 GMT
recorded_with: VCR 2.9.3
