---
http_interactions:
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905040728720298327?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.160-300-bedcb85
    body:
      encoding: UTF-8
      string: '{"event": {"date_happened": 1377812141, "alert_type": "info", "resource":
        "/api/v1/events/1905040728720298327", "title": "dogapi-rb end test title 1377812141",
        "url": "/event/jump_to?event_id=1905040728720298327", "text": "test message",
        "tags": ["test-run:1"], "id": 1905040728720298327, "priority": "normal", "host":
        "dogbox", "device_name": null, "payload": "{}"}}'
  recorded_at: Thu, 29 Aug 2013 21:35:46 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2270123736026243269?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1102.1335-0
    body:
      encoding: US-ASCII
      string: '{"errors": ["No event matches that comment_id."]}'
  recorded_at: Thu, 08 May 2014 18:08:42 GMT
[...]
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body:
      encoding: UTF-8
      string: '{"msg_text":"test message","date_happened":1416248793,"msg_title":"dogapi-rb
        end test title 1416248793","priority":"normal","parent":null,"tags":["test-run:1"],"aggregation_key":"","alert_type":null,"event_type":null,"source_type_name":null,"title":"dogapi-rb
        end test title 1416248793","text":"test message","host":"Conors-MacBook-Pro-Retina.local","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ok", "event": {"priority": "normal", "date_happened": 1416248793,
        "handle": null, "title": "dogapi-rb end test title 1416248793", "url": "https://app.datadoghq.com/event/jump_to?event_id=2549900732480976038",
        "text": "test message", "tags": ["test-run:1"], "related_event_id": null,
        "id": 2549900732480976038}}'
  recorded_at: Mon, 17 Nov 2014 18:26:33 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2549900732480976038?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1883.245-0
    body:
      encoding: UTF-8
      string: '{"event": {"date_happened": 1416248793, "alert_type": "info", "resource":
        "/api/v1/events/2549900732480976038", "title": "dogapi-rb end test title 1416248793",
        "url": "/event/jump_to?event_id=2549900732480976038", "text": "test message",
        "tags": ["test-run:1"], "id": 2549900732480976038, "priority": "normal", "host":
        "Conors-MacBook-Pro-Retina.local", "device_name": null, "payload": "{}"}}'
  recorded_at: Mon, 17 Nov 2014 18:26:41 GMT
recorded_with: VCR 2.9.3
