---
http_interactions:
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905040728720298327?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.160-300-bedcb85
    body:
      encoding: UTF-8
      string: ! '{"event": {"date_happened": 1377812141, "alert_type": "info", "resource":
        "/api/v1/events/1905040728720298327", "title": "dogapi-rb end test title 1377812141",
        "url": "/event/jump_to?event_id=1905040728720298327", "text": "test message",
        "tags": ["test-run:1"], "id": 1905040728720298327, "priority": "normal", "host":
        "dogbox", "device_name": null, "payload": "{}"}}'
  recorded_at: Thu, 29 Aug 2013 21:35:46 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2270123736026243269?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1102.1335-0
    body:
      encoding: US-ASCII
      string: ! '{"errors": ["No event matches that comment_id."]}'
  recorded_at: Thu, 08 May 2014 18:08:42 GMT
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body:
      encoding: UTF-8
      string: ! '{"msg_text":"test message","date_happened":1400010475,"msg_title":"dogapi-rb
        end test title 1400010475","priority":"normal","parent":null,"tags":["test-run:carlo"],"aggregation_key":"","alert_type":null,"event_type":null,"source_type_name":null,"title":"dogapi-rb
        end test title 1400010475","text":"test message","host":"dogbox-carlo","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": "ok", "event": {"priority": "normal", "date_happened":
        1400010475, "handle": null, "title": "dogapi-rb end test title 1400010475",
        "url": "https://app.datadoghq.com/event/jump_to?event_id=2277466975478186943",
        "text": "test message", "tags": ["test-run:carlo"], "related_event_id": null,
        "id": 2277466975478186943}}'
  recorded_at: Tue, 13 May 2014 19:47:56 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/events/2277466975478186943?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1129.1362-0
    body:
      encoding: US-ASCII
      string: ! '{"event": {"date_happened": 1400010475, "alert_type": "info", "resource":
        "/api/v1/events/2277466975478186943", "title": "dogapi-rb end test title 1400010475",
        "url": "/event/jump_to?event_id=2277466975478186943", "text": "test message",
        "tags": ["test-run:carlo"], "id": 2277466975478186943, "priority": "normal",
        "host": "dogbox-carlo", "device_name": null, "payload": "{}"}}'
  recorded_at: Tue, 13 May 2014 19:48:01 GMT
recorded_with: VCR 2.9.0
