--- 
http_interactions: 
- request: 
    method: post
    uri: https://app.datadoghq.com/api/v1/events?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body: 
      string: "{\"parent\":null,\"msg_title\":\"\",\"event_type\":null,\"msg_text\":\"Testing Aggregation (first)\",\"host\":\"dogbox\",\"date_happened\":1377812901,\"source_type_name\":null,\"device\":null,\"aggregation_key\":\"1377812901\",\"tags\":[],\"title\":\"\",\"alert_type\":null,\"text\":\"Testing Aggregation (first)\",\"priority\":\"normal\"}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - text/json; charset=UTF-8
    body: 
      string: "{\"status\": \"ok\", \"event\": {\"priority\": \"normal\", \"date_happened\": 1377812901, \"handle\": null, \"title\": \"\", \"url\": \"https://app.datadoghq.com/event/jump_to?event_id=1905053479102714219\", \"text\": null, \"tags\": [], \"related_event_id\": null, \"id\": 1905053479102714219}}"
  recorded_at: Thu, 29 Aug 2013 21:48:21 GMT
[...]
- request: 
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905053479102714219?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
      X-Dd-Version: 
      - 31.160-300-bedcb85
    body: 
      string: "{\"event\": {\"date_happened\": 1377812901, \"alert_type\": \"info\", \"resource\": \"/api/v1/events/1905053479102714219\", \"title\": \"Testing Aggregation (first)\", \"url\": \"/event/jump_to?event_id=1905053479102714219\", \"text\": \"Testing Aggregation (first)\", \"tags\": [], \"id\": 1905053479102714219, \"priority\": \"normal\", \"host\": \"dogbox\", \"device_name\": null, \"payload\": \"{}\"}}"
  recorded_at: Thu, 29 Aug 2013 21:49:38 GMT
- request: 
    method: get
    uri: https://app.datadoghq.com/api/v1/events/1905053488548344157?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
      X-Dd-Version: 
      - 31.160-300-bedcb85
    body: 
      string: "{\"event\": {\"date_happened\": 1377812901, \"alert_type\": \"info\", \"resource\": \"/api/v1/events/1905053488548344157\", \"title\": \"Testing Aggregation (second)\", \"url\": \"/event/jump_to?event_id=1905053488548344157\", \"text\": \"Testing Aggregation (second)\", \"tags\": [], \"id\": 1905053488548344157, \"priority\": \"normal\", \"host\": \"dogbox\", \"device_name\": null, \"payload\": \"{}\"}}"
  recorded_at: Thu, 29 Aug 2013 21:49:38 GMT
recorded_with: VCR 2.5.0
