---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=9775a026f1ca7d1c6c5af9d94d9595a4
    body:
      encoding: UTF-8
      string: ! '{"series":[{"metric":"test.tag.metric","points":[[1377814456,1.0]],"type":"gauge","host":"test.tag.host","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok"}'
  recorded_at: Thu, 29 Aug 2013 22:14:17 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/tags/hosts/test.tag.host?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.161-301-21fcab4
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 29 Aug 2013 22:15:11 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/tags/hosts/test.tag.host?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.161-301-21fcab4
    body:
      encoding: US-ASCII
      string: ! '{"tags": []}'
  recorded_at: Thu, 29 Aug 2013 22:15:26 GMT
[...]
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/tags/hosts/test.tag.host?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.161-301-21fcab4
    body:
      encoding: US-ASCII
      string: ! '{"tags": []}'
  recorded_at: Thu, 29 Aug 2013 22:23:48 GMT
recorded_with: VCR 2.5.0
