---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/series?api_key=<DATADOG_API_KEY>
    body:
      encoding: UTF-8
      string: '{"series":[{"metric":"test.tag.metric","points":[[1460397371,1.0]],"type":"gauge","host":"test.tag.host","device":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    body:
      encoding: UTF-8
      string: '{"status": "ok"}'
  recorded_at: Mon, 11 Apr 2016 17:56:11 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/tags/hosts/test.tag.host?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - Q7aBYzHHllsXmnqYXTRnBui4yUFIlE4QkBCcKXhPzNs=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Apr 2016 17:56:21 GMT
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/tags/hosts/test.tag.host?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - dzXYMfoU4q3VT0cFBUpsrrkUExtYDwvMMuX3a9VAyzA=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"tags": []}'
  recorded_at: Mon, 11 Apr 2016 17:56:22 GMT
[...]
- request:
    method: get
    uri: https://app.datadoghq.com/api/v1/tags/hosts/test.tag.host?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - VVb9PTrXTexlsgMglysHoi+NfsNQ6yOwNcwZLsurLAw=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"tags": []}'
  recorded_at: Mon, 11 Apr 2016 17:56:24 GMT
recorded_with: VCR 2.9.3
