---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/alert?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - omuZE5ldmS3gykYWzeRNmM1P8lUKatqFhRFlclaYIlg=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event_object":"8ee60aa761d2c9f71a2c1ba4979a0363","notify_audit":true,"timeout_h":null,"silenced":false,"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5","message":"","id":552994,"name":"**test.metric.metric** over **host:test.metric.host**
        was **> 5.0** on average during the **last 10m**.","no_data_timeframe":false,"creator":2575,"notify_no_data":false,"renotify_interval":null,"state":"No
        Data","escalation_message":"","silenced_timeout_ts":null}'
  recorded_at: Mon, 11 Apr 2016 17:56:52 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/alert/552994?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - Bj/SqNU1vbZGxNGffIRtmaWe7MKGSPoKHC3+ZhLAjqk=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event_object":"8ee60aa761d2c9f71a2c1ba4979a0363","notify_audit":true,"timeout_h":null,"silenced":false,"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5","message":"","name":"**test.metric.metric** over **host:test.metric.host**
        was **> 5.0** on average during the **last 10m**.","no_data_timeframe":false,"creator":2575,"notify_no_data":false,"renotify_interval":null,"state":"No
        Data","escalation_message":"","silenced_timeout_ts":null}'
  recorded_at: Mon, 11 Apr 2016 17:56:53 GMT
recorded_with: VCR 2.9.3
