---
http_interactions:
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/alert/37496?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.153-293-3859d5c
    body:
      encoding: US-ASCII
      string: ! '{"notify_no_data": false, "event_object": "6bc5a22ffc9d267c3cd6eb3ad79623e0",
        "state": "OK", "name": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "silenced": false, "query": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "message": null, "creator": 3658, "timeout_h": null}'
  recorded_at: Tue, 27 Aug 2013 16:13:41 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/alert/54315?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1102.1335-0
    body:
      encoding: US-ASCII
      string: ! '{"event_object": "6bc5a22ffc9d267c3cd6eb3ad79623e0", "timeout_h":
        null, "silenced": false, "query": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "message": null, "name": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "silenced_timeout_ts": null, "creator": 3658, "notify_no_data": false,
        "state": "OK"}'
  recorded_at: Thu, 08 May 2014 18:08:40 GMT
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/alert?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: UTF-8
      string: ! '{"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1129.1362-0
    body:
      encoding: US-ASCII
      string: ! '{"event_object": "6bc5a22ffc9d267c3cd6eb3ad79623e0", "notify_audit":
        true, "timeout_h": null, "silenced": false, "query": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "message": null, "id": 57369, "name": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "silenced_timeout_ts": null, "creator": 3658, "notify_no_data": false,
        "state": "OK"}'
  recorded_at: Tue, 13 May 2014 19:48:02 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/alert/57369?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.1129.1362-0
    body:
      encoding: US-ASCII
      string: ! '{"event_object": "6bc5a22ffc9d267c3cd6eb3ad79623e0", "notify_audit":
        true, "timeout_h": null, "silenced": false, "query": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "message": null, "name": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "silenced_timeout_ts": null, "creator": 3658, "notify_no_data": false,
        "state": "OK"}'
  recorded_at: Tue, 13 May 2014 19:48:02 GMT
recorded_with: VCR 2.9.0
