---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/alert?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: UTF-8
      string: ! '{"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.153-293-3859d5c
    body:
      encoding: US-ASCII
      string: ! '{"notify_no_data": false, "event_object": "6bc5a22ffc9d267c3cd6eb3ad79623e0",
        "state": "OK", "name": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "silenced": false, "query": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "message": null, "creator": 3658, "id": 37497, "timeout_h": null}'
  recorded_at: Tue, 27 Aug 2013 16:13:41 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/alert/37497?api_key=9775a026f1ca7d1c6c5af9d94d9595a4&application_key=87ce4a24b5553d2e482ea8a8500e71b8ad4554ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - 31.153-293-3859d5c
    body:
      encoding: US-ASCII
      string: ! '{"notify_no_data": false, "event_object": "6bc5a22ffc9d267c3cd6eb3ad79623e0",
        "state": "OK", "name": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "silenced": false, "query": "avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5", "message": null, "creator": 3658, "timeout_h": null}'
  recorded_at: Tue, 27 Aug 2013 16:13:42 GMT
recorded_with: VCR 2.5.0
