---
http_interactions:
- request:
    method: post
    uri: https://app.datadoghq.com/api/v1/alert?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: UTF-8
      string: '{"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - shLvnveJ2e0AhnkU64mVlENQB1xkt+HLpGk7+KtFz6g=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event_object":"8ee60aa761d2c9f71a2c1ba4979a0363","notify_audit":true,"timeout_h":null,"silenced":false,"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5","message":"","id":552993,"name":"**test.metric.metric** over **host:test.metric.host**
        was **> 5.0** on average during the **last 10m**.","no_data_timeframe":false,"creator":2575,"notify_no_data":false,"renotify_interval":null,"state":"No
        Data","escalation_message":"","silenced_timeout_ts":null}'
  recorded_at: Mon, 11 Apr 2016 17:56:52 GMT
- request:
    method: delete
    uri: https://app.datadoghq.com/api/v1/alert/552993?api_key=<DATADOG_API_KEY>&application_key=<DATADOG_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb_sameorig
      X-Dd-Debug:
      - 9PJnOICwaMTA2SdUy+bwstzTca5UfvMAFI9em8DSBRc=
      X-Dd-Version:
      - '33.3404'
    body:
      encoding: UTF-8
      string: '{"event_object":"8ee60aa761d2c9f71a2c1ba4979a0363","notify_audit":true,"timeout_h":null,"silenced":false,"query":"avg(last_10m):avg:test.metric.metric{host:test.metric.host}
        > 5","message":"","name":"**test.metric.metric** over **host:test.metric.host**
        was **> 5.0** on average during the **last 10m**.","no_data_timeframe":false,"creator":2575,"notify_no_data":false,"renotify_interval":null,"state":"No
        Data","escalation_message":"","silenced_timeout_ts":null}'
  recorded_at: Mon, 11 Apr 2016 17:56:52 GMT
recorded_with: VCR 2.9.3
